body{
    background: linear-gradient(to bottom,#1F2937,#172030);
    margin: 0;
}
header{
    background: #263240;
    display: flex;
    height: 120px;
    padding: 15px;
    justify-content: space-between;
}
main{
    background: linear-gradient(to bottom,#1F2937,#172030);
    margin: 0px 120px 0px 120px;
    min-height:600px;
}
footer{
    background: #111827;
    height: 250px;
    justify-content: center;
}
a{
    text-decoration: none;
}
p{
    margin: 0;
}
ul{
    list-style-type: none;
}
button{
    background: #2f353c;
    border-radius: 20px;
    padding: 5px;
    color: #767c84;
}
dialog{
    /* display: grid; */
    background: #222830;
    border: 2px solid #161c28;
    border-radius: 20px;
    height: 400px;
    width: 500px;
}
.div{
    background: #2e3a49;
    justify-content: center;
    text-align: center;
    height: 50px;
    width: 50px;
}
.BtnClose{
    
    background: #111827;
    color: #068e33;
    display: block;
    /* border: 1px solid rgb(29, 28, 28); */
    border-radius: 120px;
}
.note{
    grid-column: auto;
    background: #363f49;
    border-radius: 20px;
    padding: 15px;
    justify-content: left;
}
#logo{
    display: block;
    width: 120px;
    height: 120px;
}
#name{
    display: block;
    
}
#DivBtnCreate{
    justify-content: center;
    text-align: center;
}
#NameContent{
    justify-content: center;
    text-align: center;
}
#navigation{
    justify-content: center;
    text-align: center;
    
}
#navigationList{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0;
    list-style: none
    
}
#author{
    display: block;
    width: 120px;
    height: 120px;
}
#menu{
    display: grid;
    
}
#create_request{
    background: #2f353c;
    border-radius: 20px;
    padding: 5px;
    color: #767c84;
}
#DivCreate{
    display: flex;
    justify-content: right;
}
#AddSection{
    background: #111827;
    color: #068e33;
    display: block;
    /* border: 1px solid rgb(29, 28, 28); */
    border-radius: 120px;
}
.DivClose{
    display: flex;
    justify-content: right;
}
#BtnClose{
    
    background: #111827;
    color: #068e33;
    display: block;
    /* border: 1px solid rgb(29, 28, 28); */
    border-radius: 120px;
}

#InputName{
    background: #172030;
    border-radius: 20px;
    color: #b1b7be;
}
#InputMain{
    background: #172030;
    border-radius: 20px;
    color: #b1b7be;
}
#LabelName{

}
#LabelMain{

}
#name{

}
#main{

}

